html, body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

/* Class Name */
body{
    overflow:scroll;
    overflow:visible;
}

.topHeader {
    background: #9D3734;
    /* display: value; Use this for website resizing */
    display: block;
    width: 100%;
    height: 68px;
    line-height: 60px;
}
.topHeader a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.topHeader p:hover {
    border-color: #349D37;
    background-color: #349D37;
}
.topHeader p{
    padding: 12px 40px;
    float: right;
    font-size: 20px;
    line-height: 16px;
    font-weight: 100;
    border: groove black 1px;
    border-radius: 100px;
    margin-right: 28px;
    margin-top: -55px;
}
.topHeader button {
    margin-left: 10px;
    line-height: 36px;
}
.mainPage {
    padding: 0;
    margin: 10px;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 850px;
    text-align: center;
}

.boxes {
    width: 100%;
}

.boxCell {
    width: 400px;
    height: 400px;
    display: inline-grid;
    text-align: center;
    margin: 16px 16px;
    border: solid 1px black;
    border-radius: 25px;
    background-color: #349D37;
}
.boxCell img {
    width: 200px;
    height: 200px;
    margin: 38px 0 0 0;
}
.boxCell:hover {
    background-image: url(COVID-19_Background.jpg);
}
.boxCell a {
    text-decoration: none;
    font-size: 35px;
    color: white;
}

iframe {
    display: block;
    margin: auto;
    margin-top: 120px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: arial;
   }
   
   ul li {
    
    width: 200px;
    height: 68px;
    background-color: green;
    opacity: 1;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
   }
   
   ul li a {
    text-decoration: none;
    color: white;
    display: block;
   }
   
   ul li a:hover {
    background-color: rgba(53, 136, 74, 0.979);
   }
   
   ul li ul li{
    display: none;
   }
   
   ul li:hover ul li {
    display: block;
   }

.headerTwo p {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    border: solid black 1px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 35vw;
    margin-right: 35vw;
}

.cardTable {
    position: absolute;
    display: table;
    width: 90vw;
    height: 100vw;
    margin-top: 30px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.card {
    position: relative;
    display: table-cell;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: solid black 2px;
    border-radius: 100px;
    
}

.card .title {
    font-size: 30px;
}

.card .text {
    font-size: 20px;
}

.card:hover {
    transform: rotateY(180deg);
}

.cardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
    border: solid black 2px;
    border-radius: 100px;
}

.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgba(0, 161, 201, 0.397);
    color: #333;
    transform: rotateY(180deg);
    border: solid black 2px;
    border-radius: 100px;
}

.row {
    display: table-row;
}

   +}

   .headerTwo p {
       text-align: center;
       font-size: 20px;
       font-family: sans-serif;
       border: solid black 1px;
       margin-top: 10px;
       border-radius: 5px;
       margin-left: 35vw;
       margin-right: 35vw;
   }
   
   .cardTable {
       position: absolute;
       display: table;
       width: 90vw;
       height: 100vw;
       margin-top: 30px;
       margin-left: 5vw;
       margin-right: 5vw;
   }
   
   .card {
       position: relative;
       display: table-cell;
       transform-style: preserve-3d;
       transition: all 0.5s ease;
       background: yellow;
       text-align: center;
       font-family: sans-serif;
       font-weight: bold;
       font-size: 18px;
       border: solid black 2px;
       border-radius: 100px;
       
   }
   
   .card .title {
       font-size: 30px;
   }
   
   .card .text {
       font-size: 20px;
   }
   
   .card:hover {
       transform: rotateY(180deg);
   }
   
   .cardFront {
       position: absolute;
       width: 100%;
       height: 100%;
       backface-visibility: hidden;
       background: #ffc728;
       color: #333;
       border: solid black 2px;
       border-radius: 100px;
   }
   
   .cardBack {
       position: absolute;
       width: 100%;
       height: 100%;
       backface-visibility: hidden;
       background: rgba(0, 161, 201, 0.397);
       color: #333;
       transform: rotateY(180deg);
       border: solid black 2px;
       border-radius: 100px;
   }
   
   .row {
       display: table-row;
   }
   