html, body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

/* Class Name */
.topHeader {
    background: #9D3734;
    /* display: value; Use this for website resizing */
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.topHeader a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.topHeader p:hover {
    border-color: #349D37;
    background-color: #349D37;
}
.topHeader p{
    padding: 12px 40px;
    float: right;
    font-size: 20px;
    line-height: 14px;
    font-weight: 100;
    border: solid black 1px;
    border-radius: 100px;
    margin-right: 28px;
    margin-top: 10px;
}

.boomer p{
    font-size: 40px;
    font-weight: 1;
    margin-left: 520px;
}

iframe {
    display: block;
    margin: auto;
    margin-top: 120px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: arial;
   }
   
   ul li {
    
    width: 200px;
    height: 60px;
    background-color: green;
    opacity: 1;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: 
   }
   
   ul li a {
    text-decoration: none;
    color: white;
    display: block;
   }
   
   ul li a:hover {
    background-color: rgba(53, 136, 74, 0.979);
   }
   
   ul li ul li{
    display: none;
   }
   
   ul li:hover ul li {
    display: block;
   }

