html, body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

/* Class Name */
body {
    overflow:scroll;
    overflow:visible;
}

/* INDEX.HTML */
.topHeader {
    background: rgb(14, 14, 31);
    display: block;
    width: 100%;
    height: 68px;
    line-height: 10vh;
}
.topHeader a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.topHeader p:hover {
    border-color: #349D37;
    background-color: #349D37;
}
.topHeader p {
    padding: 1vh 1vw 1vh 1vw;
    margin: -52.5px 1vw 0vh 1vw;
    float: right;
    font-size: 20px;
    line-height: 16px;
    font-weight: 100;
    border: groove rgb(255, 254, 254) 2px;
    border-radius: 100px;
}
.topHeader button {
    margin-left: 10px;
    background-color: #349D37;
}
.mainPage {
    padding: 0;
    background-image: url(Pictures/backgroon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 870px;
    text-align: center;
}
.mainPage p {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.boxes {
    width: 100%;
}
.boxCell {
    width: 400px;
    height: 400px;
    display: inline-grid;
    text-align: center;
    margin: 16px 16px;
    border: solid 1px black;
    border-radius: 25px;
    background-color: #349D37;
    margin-top: 69px;
}
.boxCell img {
    width: 200px;
    height: 200px;
    margin: 38px 0 0 0;
}
.boxCell:hover {
    transform: scale(1.069);
    background-image: url(Pictures/COVID-19_Background.jpg);
}
.boxCell a {
    text-decoration: none;
    font-size: 35px;
    color: white;
}

/* DEMO.HTML */
#youtube-video {
    display: block;
    margin: auto;
    margin-top: 120px;
}
#world-chart {
    display: block;
    margin: auto;
}
.demoPage {
    padding: 0;
    background-image: url(Pictures/backgroon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 938px;
    text-align: center;
}
.demoPage #text {
    text-align: center;
    color: white;
    font-size: 42px;
    font-family: sans-serif;
    border: solid white 1px;
    border-radius: 10px;
    margin-top: 5.5vh;
    margin-bottom: 7.5vh;
    margin-left: 40vw;
    margin-right: 40vw;
}
.demoPage iframe {
    position: relative; 
    width: 80vw; 
    height: 85vh;
}
.topHeader ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: arial;
}
.topHeader ul li { 
    width: 200px;
    height: 68px;
    opacity: 1;
    line-height: 68px;
    text-align: center;
    font-size: 20px;
}
.topHeader ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
.topHeader ul li a:hover {
    background-color: rgba(53, 136, 74);
}
.topHeader ul li ul li {
    display: none;
}
.topHeader ul li:hover ul li {
    display: block;
}

/* NOTES.HTML */
.notePage {
    padding: 0;
    padding-top: 10px;
    background-image: url(Pictures/backgroon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 1690px;
    text-align: center;
}
.headerTwo p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border: solid white 1px;
    border-radius: 10px;
    margin-top: 85px;
    margin-bottom: 85px;
    margin-left: 35vw;
    margin-right: 35vw;
}
.cardTable {
    position: absolute;
    display: table;
    width: 90vw;
    height: 100vw;
    margin-top: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
}
.card {
    position: relative;
    display: table-cell;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: solid black 2px;
    border-radius: 100px;
}
.card-noflip {
    position: relative;
    display: table-cell;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: solid black 2px;
    border-radius: 100px;
}
.card-noflip .noflip-text {
    text-align: left;
    padding-left: 50px;
    padding-right: 25px;
}
.title {
    font-size: 30px;
}
.card .text {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.card:hover {
    transform: rotateY(180deg);
}
.cardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
    border: solid black 2px;
    border-radius: 100px;
}
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: rgba(0, 161, 201, 0.397);
    color: #333;
    transform: rotateY(180deg);
    border: solid black 2px;
    border-radius: 100px;
}
.cardBack img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    margin: 8vh 0vw 0vh 0vw;
}
.row {
    display: table-row;
}

/* ABOUT.HTML */
.aboutPage {
    padding: 0;
    background-image: url(Pictures/backgroon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 870px;
    text-align: center;
}
.aboutBoxCell {
    width: 400px;
    height: 400px;
    display: inline-grid;
    text-align: center;
    margin: 16px 16px;
    border: solid 1px black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.062);
    margin-top: 69px;
}
.aboutBoxCell img {
    width: 300px;
    height: 300px;
    margin: 38px 0 0 0;
}
.aboutBoxCell:hover {
    transform: scale(1.069);
    
}
.aboutBoxCell a {
    text-decoration: none;
    font-size: 35px;
    color: black;
    margin: -18px;
}
.aboutPage p {
    font-size: 35px;
    color: white;
    margin: 10px;
}