html, body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

.topHeader {
    background: #9D3734;
    /* display: value; Use this for website resizing */
    display: block;
    width: 100%;
    height: 68px;
    line-height: 60px;
}
.topHeader a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.topHeader p:hover {
    border-color: #349D37;
    background-color: #349D37;
}
.topHeader p{
    padding: 12px 40px;
    float: right;
    font-size: 20px;
    line-height: 16px;
    font-weight: 100;
    border: solid black 1px;
    border-radius: 100px;
    margin-right: 28px;
    margin-top: 10px;
}
.hamburger {
    float: left;
    font-size: 40px;
    margin-left: 10px;
}
.mainPage {
    padding: 0;
    margin: 10px;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 850px;
    text-align: center;
}

.boxes {
    width: 100%;
}

.boxCell {
    width: 400px;
    height: 400px;
    display: inline-grid;
    text-align: center;
    margin: 16px 16px;
    border: solid 1px black;
    border-radius: 25px;
    background-color: #349D37;
}
.boxCell img {
    width: 200px;
    height: 200px;
    margin: 38px 0 0 0;
}
.boxCell:hover {
    background-image: url(COVID-19_Background.jpg);
}
.boxCell a {
    text-decoration: none;
    font-size: 35px;
    color: white;
}

