html, body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

/* Class Name */
.topHeader {
    background: #9D3734;
    /* display: value; Use this for website resizing */
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.topHeader a {
    text-decoration: none;
    color: black;
}

.topHeader .hamburger {
    float: left;
    font-size: 30px;
    margin-left: 10px;
}
.topHeader p{
    padding: 12px 40px;
    float: right;
    font-size: 20px;
    line-height: 14px;
    font-weight: 100;
    border: solid black 1px;
    border-radius: 100px;
    margin-right: 28px;
    margin-top: 10px;
}

.boomer p{
    font-size: 40px;
    font-weight: 100;
    margin-left: 530px;
}

iframe {
    display: block;
    margin: auto;
}
